 {% extends "base.html" %} {% block content %}
<div class="content">

    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">flight_takeoff</i>
                            </div>
                            <h4 class="card-title">Flights Prices for different Airlines</h4>
                        </div>
                        <div class="card-body ">
                            <div class="row">

                                <!-- <div class="dropdown">
                                    <select class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="airline">
                                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                   <a class="dropdown-item"><option>Avianca</option></a> 
                                                    <option class="dropdown-item">Aeromexico</option>
                                               </div>
                                    </select>

                                </div>
                                <select class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="destination">
                                            <option>LAX</option>
                                            <option>MIA</option>
                                          </select> -->
                                <div class="col-lg-5 col-md-6 col-sm-3">
                                    <div class="dropdown ">
                                        <select class="btn  dropdown-toggle btn-danger " type="button" aria-haspopup="true" aria-expanded="false" id="airline">
                                                     
                                                <option class="dropdown-item" value="AVIANCA">Avianca</option>
                                                <option class="dropdown-item" value="AEROMEXICO">Aeromexico</option>
                                        </select>
                                        <select class="btn  dropdown-toggle btn-rose" type="button" aria-haspopup="true" aria-expanded="false" id="destination">
                                                    <option class="dropdown-item">LAX</option>
                                                    <option class="dropdown-item">MIA</option>
                                            </select>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
</div>



<!-- D3 Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/data.js"></script>
<script src="/static/js/plots.js"></script>

<script>
    function $(x) {
        return document.querySelectorAll(x);
    }

    $(".sidebar .sidebar-wrapper .nav li ")[0].classList.remove('active');
    document.getElementById('sidebarDashboard').className += " active"

    document.getElementById('pageTitle').innerHTML = "Dashboard"
</script>


{% endblock %}