<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/js/assets/css/material-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />
    <style>
        #background-image {
            background-repeat: no-repeat;
            background-size: contain, cover;
            background-position: center;
        }
    </style>
</head>



<body>
    <div class="wrapper wrapper-full-page">
        <div class="content">
            <div class="page-header error-page header-filter" id="background-image" style="background-image: url({{url_for('static', filename='pinguins.jpeg')}});">
                <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->

                <div class="content-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">404</h1>
                            <h2>Page not found :(</h2>
                            <h4>Ooooups! Looks like you got lost.</h4>
                            <button class="btn btn-danger"> <a href="/home.html"> <span class="text-white">Return to Air Analytics dashboard</span></a></button><br>
                            <a style='background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px'
                                href="https://unsplash.com/@muuvmuuv?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Marvin Heilemann"><span style="display:inline-block;padding:2px 3px"><svg
                    xmlns="http://www.w3.org/2000/svg"
                    style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                    viewBox="0 0 32 32"
                  >
                    <title>unsplash-logo</title>
                    <path
                      d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"
                    ></path></svg></span
                ><span style="display:inline-block;padding:2px 3px"
                  >Nice photos by Marvin Hielman</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>